* {
  font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans,
    Helvetica Neue, Arial, sans-serif;
}

.card {
  width: 735px;
  height: 425px;
  background-color: white;
  margin-top: 7vh;
  border-radius: 22px !important;
  z-index: 5;
  box-shadow: 10px 10px 30px 5px #002aff26;
  padding: 25px;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title-text-container {
  width: 110px;
}

.title-text {
  font-size: 20px;
  color: #707070;
  font-weight: 700;
}

.title-emoji {
  font-size: 20px;
}

.count-text {
  font-size: 20px;
}

.count-number {
  font-weight: 550;
}

.title-update-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 275px;
  align-items: center;
}

.last-updated-text {
  text-align: end;
  margin-right: 11px;
  opacity: 0.6;
  font-size: 12px;
}

.refresh-button {
  height: 25px;
  width: 25px;
}

.refresh-icon {
  height: 100%;
  width: 100%;
}

.notes {
  margin-top: 15px;
  color: #707070;
}
